@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: pricedown bl;
    src: url(./Fonts/pricedown\ bl.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Root variable color for our dark theme toggler*/
:root {
    --main-bg: rgb(151, 147, 147);
    --main-text: rgb(0, 252, 239);
}

[data-theme="dark"] {
    --main-bg: #212529;
    --main-text: rgb(11, 219, 28);
}

body{
    min-height: 150vh;
    background-color: var(--main-bg);
    background-blend-mode: multiply;
}
#PortfolioHead{
    width: 100%;
    border-top-left-radius: 120%;
    border-bottom-right-radius: 120%;
    box-shadow: 15px 15px 15px rgb(83, 78, 78);
}
#PortfolioHead h1{
    padding: 5rem;
    font-size: 8rem;
    color: var(--main-text);
    font-family: 'pricedown bl';
}

#PortfolioHead p{
    color: var(--main-text);
}
#PortfolioParagraph{
    color: var(--main-text);
    font-family: monospace;
}

#portfolioDesc{
    color: var(--main-text);
}
img{
    max-width: 100%;
}

.gallery{
    position: relative;
}

.gallery img{
    border-radius: 5px;
    box-shadow: 0 15px 15px rgba(201, 200, 200, 0.3);
    cursor: pointer;
    transition: 0.3s linear;
}

.gallery img:hover{
    filter: brightness(50%);
    transform: scaleX(1.03);
}
.gallery-modal .modal-img{
    width: 100%;
}

#waifu-col{
    position: relative;
}
#anime-faqs{
    width: 100%;
    height: 30rem;
}

#useful-links p a{
    position: relative;
    transition: 0.5s linear;
}

#useful-links p a:hover{
    text-decoration: none;
}

#footer-soc i{
    position: relative;
    transition: 0.5s linear;
}

#footer-soc i:hover{
    color: rgb(221, 245, 11);
}




@media only screen and (min-height: 480px) and (max-width: 767px){
    #PortfolioHead h1{
        font-size: 3rem;
    }

    #waifu-col{
        display: flex;
        justify-content: center;
    }

    #anime-faqs{
        width: 10rem;
        height: 8rem;
    }
    .gallery img{
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}