@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Roboto+Condensed&family=Ubuntu:wght@700&display=swap');
@font-face {
    font-family: pricedown bl;
    src: url(./Fonts/pricedown\ bl.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Root variable color for our dark theme toggler*/
:root {
    --main-bg: rgb(255, 255, 255);
    --main-text: #161815;
    --text-light: #fff;
    --text-console: #38b000;
}

[data-theme="dark"] {
    --main-bg: #080808;
    --main-text: rgb(250, 250, 250);
}
body{
    min-height: 150vh;
    background-color: var(--main-bg);
    background-blend-mode: multiply;
}

/*Targets the navigational links to hover an underline beneath each webpages.*/
#nav-bg{
    background: linear-gradient(#000000, #000000) !important;
    width: 100%;
    overflow: hidden;
}
#nav-logo img{
    object-fit: contain;
    aspect-ratio: 16/9;
    width: 10rem;
    transform: scale(1.5);
}
#navbarNav ul li{
    display: inline-block;
    position: relative;
}
#navbarNav ul li a{
    display: inline-block;
    position: relative;
    color:#6e706c;
}

#navbarNav ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(62, 151, 2);
    transform-origin: bottom right;
    transition: 0.8s ease-in-out;
}

#navbarNav ul li a:hover{
    color: #0caf3d;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.5s ease-in;
}

#navbarNav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#Portfolio-Intro{
    overflow: hidden;
    margin: 5rem 0;
}
#project-container{
    overflow-x: hidden;
}
#project-container h1{
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-text);
    font-size: 7.594rem;
    margin-left: 5rem;
}
#project-row{
    width: 100%;
    height: 100%;
}
#portfolio-container{
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
}
#image-project{
    overflow: hidden;
    margin: 0.5rem auto;
    height: 300px;
    width: 100%;
    border: 5px solid #080808;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
#image-projectGraph{
    overflow: hidden;
    margin: 0.5rem auto;
    height: 300px;
    width: 100%;
    border: 5px solid #080808;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
#image-projectGraph img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(80%);
}
#image-projectGraph img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
#image-projectGraph img:not(hover){
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
#image-project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(80%);
}
#image-project img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
#image-project img:not(hover){
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}



.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap between buttons as needed */
    font-family: 'Roboto Condensed', sans-serif;
}

.link-button{
    font-size: 1rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    padding: 1em 1.5em;
    color: var(--text-light);
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    z-index: 1;
    background: black;
}
.link-button a{
    font-size: 1rem;
    border: none;
    color: var(--text-light);
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    z-index: 1;
    text-decoration: none;
}
.link-button a:hover{
    color: #1e1e2b;
}
.link-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
  }
  
.link-button:hover {
    color: #1e1e2b;
    transition-delay: .5s;
  }
  
.link-button:hover::before {
    width: 100%;
  }
  
.link-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
}
  
.link-button.link-button:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.hidden {
    display: none;
  }

/*----------------------------------------------------*/
.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem auto;
    width: 50%; 
}
  
.filter-button {
    background-color: rgb(14, 14, 26);
    border: none;
    padding: 5px 10px;
    margin: 0 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: rgb(234, 234, 234);
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}
.filter-button:hover{
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}
.filter-button.active {
    background: red; /* Change to the desired active color */
    color: var(--main-text); /* Change to the desired text color */
}
.filter-button.active:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
    transition: 0.5s ease-in-out;
}

#Graphic-title{
    text-align: center;
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-text);
    margin-top: 5rem;
}


#waifu-col{
    position: relative;

}
#question-title{
    color: var(--main-text);
    font-family: 'Ubuntu', sans-serif;
}
#anime-faqs{
    width: 100%;
    height: 30rem;
}

#useful-links p a{
    position: relative;
    transition: 0.5s linear;
    font-family: 'Roboto Condensed', sans-serif;

}

#useful-links p a:hover{
    text-decoration: none;
}

#footer-soc i{
    position: relative;
    transition: 0.5s linear;
}

#footer-soc i:hover{
    color: rgb(221, 245, 11);
}
#panzerText{
    color: var(--text-console);
}


/* modal styling*/
.modal-dialog{
    max-height: 800px;
    margin: 8rem auto;
}
.modal-content{
    width: 100%;
    background: #000000;
    box-shadow: rgb(8, 192, 2) 0px 0px 10px 5px, rgba(28, 223, 11, 0.65) 0px 4px 10px -1px, rgb(9, 192, 2)0px 1px 0px inset;
}
#exampleModalLabel{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text-light);
}


@media only screen and (min-width: 320px) and (max-width: 992px){
    .custom-toggler .navbar-toggler-icon {
        background-color: #28a745;
        padding: 1.5rem;
        border-radius: 5px;
      }
    #PortfolioHead h1{
        font-size: 3rem;
    }

    #waifu-col{
        display: flex;
        justify-content: center;
    }

    #anime-faqs{
        width: 10rem;
        height: 8rem;
    }
    .gallery img{
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
    #Portfolio-Intro{
        overflow: hidden;
        margin-top: 5rem;
        padding: 0;
    }
    #project-container h1{
        font-family: 'Ubuntu', sans-serif;
        color: var(--main-text);
        font-size: 4rem;
        margin: 0 auto;
        text-align: center;
    }
    .filters {
        flex-wrap: wrap;
    }

    .filter-button {
        flex: 0 0 45%; /* Adjust the width as needed */
        margin: 0.5rem;

    }
    #project-row{
        width: 100%;
        height: 100%;
    }
    #image-project{
        overflow: hidden;
        margin: 0.5rem auto;
        height: 150px;
        width: 100%;
    }
    #image-project img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:brightness(80%);
        border: none; 
    }
    #image-projectGraph{
        overflow: hidden;
        margin: 0.5rem auto;
        height: 150px;
        width: 100%;
    
    }
    #image-projectGraph img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:brightness(80%);
    }

    .modal-dialog{
        max-height: 800px;
        margin: 8rem 1.5rem;
    }
    .modal-content{
        width: 100%;
        background: #000000;
        box-shadow: rgb(8, 192, 2) 0px 0px 10px 5px, rgba(28, 223, 11, 0.65) 0px 4px 10px -1px, rgb(9, 192, 2)0px 1px 0px inset;
    }
}
