@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Roboto+Condensed&family=Ubuntu:wght@700&display=swap');
@font-face {
    font-family: pricedown bl;
    src: url(./Fonts/pricedown\ bl.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Root variable color for our dark theme toggler*/
:root {
    --main-bg: rgb(255, 255, 255);
    --main-text: #161815;
    --text-light: #fff;
    --text-console: #38b000;
}

[data-theme="dark"] {
    --main-bg: #080808;
    --main-text: rgb(250, 250, 250);
}
body{
    min-height: 150vh;
    background-color: var(--main-bg);
    background-blend-mode: multiply;
}

/*Targets the navigational links to hover an underline beneath each webpages.*/
#nav-bg{
    background: linear-gradient(#000000, #000000) !important;
}
#nav-logo img{
    object-fit: contain;
    aspect-ratio: 16/9;
    width: 10rem;
    transform: scale(1.5);
}
#navbarNav ul li{
    display: inline-block;
    position: relative;
}
#navbarNav ul li a{
    display: inline-block;
    position: relative;
    color:#6e706c;
}

#navbarNav ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(62, 151, 2);
    transform-origin: bottom right;
    transition: 0.8s ease-in-out;
}

#navbarNav ul li a:hover{
    color: #0caf3d;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.5s ease-in;
}

#navbarNav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#project-container{
    margin: 0 5rem;
    position: relative;
}
#project-container h1{
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-text);
    font-size: 7.594rem;
}

  
#waifu-col{
    position: relative;
}
#anime-faqs{
    width: 100%;
    height: 30rem;
}

#useful-links p a{
    position: relative;
    transition: 0.5s linear;
}

#useful-links p a:hover{
    text-decoration: none;
}

#footer-soc i{
    position: relative;
    transition: 0.5s linear;
}

#footer-soc i:hover{
    color: rgb(221, 245, 11);
}




@media only screen and (min-height: 480px) and (max-width: 767px){
    .custom-toggler .navbar-toggler-icon {
        background-color: #28a745;
        padding: 1.5rem;
        border-radius: 5px;
      }
    #PortfolioHead h1{
        font-size: 3rem;
    }

    #waifu-col{
        display: flex;
        justify-content: center;
    }

    #anime-faqs{
        width: 10rem;
        height: 8rem;
    }
    .gallery img{
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}