@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Roboto+Condensed&family=Ubuntu:wght@700&display=swap');
@font-face {
    font-family: pricedown bl;
    src: url(./Fonts/pricedown\ bl.otf);
}

@font-face {
    font-family: rock-it;
    src: url(./Fonts/Rockit.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Root variable color for our dark theme toggler*/
:root {
    --main-bg: rgb(255, 255, 255);
    --main-text: #161815;
    --text-light: #fff;
    --text-console: #38b000;
}

[data-theme="dark"] {
    --main-bg: #080808;
    --main-text: rgb(250, 250, 250);
}

body{
    min-height: 150vh;
    background-color: var(--main-bg);
    background-blend-mode: multiply;
}
header {
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}
  
#theme-canvas {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(2, 100, 2), rgb(5, 5, 5));
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    width: 100%;
}
  
  

#offcanvas-btn{
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;    width: 8rem;
    aspect-ratio: 16/9;
    border-radius: 20px;
    background-color: var(--main-bg);
    cursor: pointer;
}

#offcanvas-btn img{
    width: 8rem;
    transition: all 0.3s ease-in-out;
}
#offcanvas-btn img:hover{
    transform: scale(1.1);
}
#toggleDay{
    margin-bottom: 5rem;
    border: 1px solid wheat;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

#canvas-close{
    filter: brightness(100%);
    border: 2px solid var(--main-text);
}

#offcanvasWithBothOptions{
    background-color: var(--main-bg)!important;
}
#offcanvasWithBothOptionsLabel{
    color: var(--main-text);
    font-size: 2.441rem;
}
#canvas-body{
    margin-top: 2rem;
    color: var(--main-text);
}
#canvas-nav li{
    margin: 0.5rem auto;
}

#canvas-body ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(62, 151, 2);
    transform-origin: bottom right;
    transition: 0.8s ease-in-out;
}
#canvas-nav li:hover a:after { /* Modified */
    transform: scaleX(1); /* Changed to scaleX(1) */
    transform-origin: bottom left;
}

#canvas-body ul li a:hover{
    color: #0caf3d;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.5s ease-in;
}

#about-container{
    margin: 0 auto;
    width: 100%;
    padding-top: 10rem;
}
#about-container h1{
    font-size: 7.594rem;
    color: var(--main-text);
    font-family: 'Ubuntu', sans-serif;
}

#brief-intro{
    color: var(--main-text);
    text-indent: 6rem;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

#about-row{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
#about-left-side h5{
    text-align: center;
    font-size: 1.2rem;
    color: var(--main-text);
    font-family: 'Fira Sans Condensed', sans-serif;

}
#about-skills{
    text-decoration: underline;
    font-style: italic;
    font-family: 'Fira Sans Condensed', sans-serif;
    letter-spacing: 2px;
}
#author-title{
    text-decoration: underline;
    font-family: 'Fira Sans Condensed', sans-serif;
    letter-spacing: 2px;
}
#selwyn-pic{
    width: 100%;
}

#social-links i{
    transition: all 0.3s linear;
}
#social-links i:hover{
    color: var(--text-console);    
}

#about-paragraph p{
    text-indent: 3rem;
    color: var(--main-text);
    font-size: 1.25rem;
    font-family: 'Roboto Condensed', sans-serif;
}

#mission-container{
    width: 100%;
    margin-bottom: 15rem;
}
#mission-container h1{
    color: var(--main-text);
    font-size: 5.653rem;
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
}

#column-card-about{
    height: 60vh;
}

.card {
    width: 100%;
    margin: 2rem auto;
    border-radius: 30px;
    background: var(--main-text);
    box-shadow: 5px 5px 15px rgb(25, 25, 25),
                -5px -5px 15px rgb(60, 60, 60);
}

.card-body{
    text-align: justify;
    color: var(--main-bg);
    font-family: 'Roboto Condensed', sans-serif;

}
#card-title{
    text-align: center;
    color: var(--main-bg);
    font-size: 3.052rem;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 1.5rem;
}

#useful-links p a{
    position: relative;
    transition: 0.5s linear;
    font-family: 'Roboto Condensed', sans-serif;

}

#useful-links p a:hover{
    text-decoration: none;
}

#footer-soc i{
    position: relative;
    transition: 0.5s linear;
}

#footer-soc i:hover{
    color: rgb(221, 245, 11);
}
#panzerText{
    color: var(--text-console);
}
   

@media only screen and (min-width: 320px) and (max-width: 992px){
    #about-container h1{
        font-size: 5.5rem;
        color: var(--main-text);
        text-align: center;
    }
    #brief-intro{
        text-indent: 1rem;
        text-align: justify;
        font-size: 1.5rem;
    }
    #selwyn-pic{
        width: 100%;
    }
    #about-paragraph p{
        text-indent: 1rem;
        color: var(--main-text);
        font-size: 1.25rem;
        text-align: justify;
        font-family: 'Roboto Condensed', sans-serif;
    }
    #mission-container h1{
        font-size: 3.653rem;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    #column-card-about{
        height: 80vh;
    }
    
    .card {
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
        background: var(--main-text);
        box-shadow: 5px 5px 15px rgb(25, 25, 25),
                    -5px -5px 15px rgb(60, 60, 60);
    }
    
    .card-body{
        text-align: justify;
        color: var(--main-bg);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
    
    }
    #card-title{
        text-align: center;
        color: var(--main-bg);
        font-size: 3.052rem;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 1.5rem;
    }
}